body {
    font-family: Arial, sans-serif;
    background-color: #ede7e3;
}
h1{
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-top: 1rem;
    padding: 10px;
}
#input-data {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
#input-data p {
    margin: 5px 0;
    font-weight: bold;
}
#input-data input[type="text"],
#input-data input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    appearance: none;
}
#input-data input[type="submit"] {
    width: 60%;
    padding: 8px;
    margin-top: 1rem;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#input-data input[type="submit"]:hover {
    background-color: #45a045;
}

#popular-tickets-container {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 1rem 0;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
}
#popular-tickets-title {
    text-align: center;
    padding: 10px;
    color: #4a4a4a; /* Color del texto: gris oscuro */
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px; /* Bordes ligeramente redondeados */
}

#popular-tickets {
    text-align: center;
    padding-right: 12rem;
    padding-left: 12rem;
    font-size: 24px;
    color: #333;
}