<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Investment Growth Chart</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='graphic.css') }}">
    </head>
    <body>
        <h1>Dollar Cost Averaging for {{ ticker.upper() }}</h1>
        <div id="canvas-div">
        <canvas id="investmentChart" ></canvas>
        </div>
        <div id="info">
            <p class="investment-info">Money invested per month: ${{ amount_per_month }}</p>
            <p class="investment-info">Total money invested: ${{ total_investment }}</p>
            <p class="investment-info">Final value: ${{ final_portfolio_value }}</p>
            <p class="investment-info">Total profit: ${{ total_profit }}</p>
        </div>

        <script>
            const dates = {{ dates | safe }};
            const portfolioValues = {{ portfolio_values | safe }};
            const investedAmounts = {{ invested_amounts | safe }};
            const ticker = "{{ ticker }}";
        </script>
        
        <!-- Cargar el script externo -->
        <script src="{{ url_for('static', filename='graphic.js') }}"></script>

        <div style="text-align: center; margin-top: 20px;">
            <a href="{{ url_for('set_data') }}" style="text-decoration: none;">
                <button style="padding: 10px 20px; font-size: 16px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    Go back
                </button>
            </a>
        </div>
    </body>
</html>
